@import url(./reset.css);
@font-face {
  font-family: "Crysis";
  src: url(./font/crysis-bold.ttf);
}
@font-face {
  font-family: "Ethnocentric";
  src: url(./font/ethnocentric\ rg.ttf);
}
body {
  margin: 0 auto;
  max-width: 420px;
  position: relative;

  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #39e0fa;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #02ddff, 0 0 10px #02ddff, 0 0 20px #00aaff;
}
main {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.content__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content__box h2 {
  font-family: "Orbitron";
  position: absolute;
  top: 160px;
  left: 118px;
  font-size: 16px;
  font-weight: 500;
  color: #39e0fa;
  text-shadow: 0 0 5px #39e0fa, 0 0 10px #39e0fa, 0 0 20px #39e0fa;
  animation: neonFlicker 3s infinite alternate;
}

.page-one-img {
  width: 100%;
  height: auto;
}
.banner-img {
  position: absolute;
  top: 125px;
  max-width: 92%;
  height: 100px;

  border-radius: 20px;
}
.main-page-btn__box {
  position: absolute;
  top: 30.5%;
  width: 51%;
  min-height: 38%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.478);
  backdrop-filter: blur(1px);
  padding: 24px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.main-page-btn__box:hover {
  border: 1px solid #39e0fa;
  box-shadow: inset 0 0 5px #02ddff, 0 0 10px #02ddff;
}

/* -------------------------------------------------------------------------Registration form */
.reg-form {
  width: 51%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.478);
  backdrop-filter: blur(1px);
  padding: 24px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
.reg-form.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.reg-form:hover {
  border: 1px solid #39e0fa;
  box-shadow: inset 0 0 5px #02ddff, 0 0 10px #02ddff;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  pointer-events: none; /* Блокируем клики по скрытой форме */
}
.btn {
  display: flex;
  justify-content: center;
  padding: 5px 30px;
  color: #39e0fab4;
  text-shadow: 0 0 5px #02ddff, 0 0 10px #02ddff, 0 0 20px #00aaff;
  margin: 0 auto;
  width: 90%;
  letter-spacing: 1px;
  border: 1px solid #27b2c7;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #39e0fa;
  color: #39e0fa;
  box-shadow: inset 0 0 5px #02ddff, 0 0 10px #02ddff;
}
.close-form__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: min-content;
  padding: 1px;
}
.reg-form__input {
  outline: none;
  background-color: transparent;
  border: 1px solid #27b2c7;
  color: #5fe7fc;
  text-shadow: 0 0 2px #02ddff, 0 0 5px #02ddff;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.reg-form__input:last-of-type {
  margin-bottom: 30px;
}
.reg-form__input:hover {
  box-shadow: inset 0 0 3px #02ddff, 0 0 5px #02ddff;
}
.reg-form__input:valid {
  box-shadow: inset 0 0 3px #02ddff, 0 0 5px #02ddff;
}
.reg-form__input:user-invalid {
  border: 1px solid #ff6c0a;
  box-shadow: 0 0 3px #ff6c0a, 0 0 5px #ff6c0a;
}
/* ------------------------------------------------------------------------------------Footer */
footer {
  position: absolute;
  bottom: 3px;
  left: 0;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 450px;
  height: 30px;
  font-family: "Ethnocentric";
  font-size: 6px;
}
.footer__content--box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------------------------------------------------Animation */
@keyframes neonFlicker {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  10% {
    opacity: 0.8;
    text-shadow: 0 0 5px #39e0fa, 0 0 10px #39e0fa, 0 0 20px #39e0fa;
  }
  20% {
    opacity: 0.3;
    text-shadow: 0 0 2px #39e0fa, 0 0 5px #39e0fa;
  }
  30% {
    opacity: 1;
    text-shadow: 0 0 10px #39e0fa, 0 0 20px #39e0fa, 0 0 30px #39e0fa;
  }
  40% {
    opacity: 0.5;
    text-shadow: none;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 5px #39e0fa, 0 0 10px #39e0fa, 0 0 20px #39e0fa;
  }
  60% {
    opacity: 0.2;
    text-shadow: none;
  }
  70% {
    opacity: 1;
    text-shadow: 0 0 15px #39e0fa, 0 0 30px #39e0fa, 0 0 45px #39e0fa;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 5px #39e0fa, 0 0 10px #39e0fa, 0 0 20px #39e0fa;
  }
}
